p{
    text-align: left;
    font-style: initial;
    font-size: medium;
    color: whitesmoke;
    font-weight:bolder;
    text-indent: 3cm;
}

body{
    padding: 0;
    background-color: black; 
}

canvas{
    width: 800px;
    height: 500px;
    border: 2px solid whitesmoke;
}

button{
    top:900px;
    color:whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
}

#btnQuick{
    position: relative;
    top:40px;
    right:85px;
}

div{
    position: absolute;
    top:50px;
    right:300px;
}

